# Chapter2 자료형
## Section 2.1 변수와 상수

In [7]:
print(20)
print('A')
print("선생님")

20
A
선생님

In [8]:
x=3
y=x+2
print(y)

5

In [9]:
s = "선생님"
s = s + ", " + "안녕하세요!"
print(s)

선생님, 안녕하세요!

## Section 2.2 기본 자료형

### 숫자

In [10]:
#정수형
a = 359
print(type(a))

<class 'int'>

In [11]:
#실수형
a = -3.619
print(type(a))

<class 'float'>

In [12]:
#숫자 연산하기
a = 27
b = 9
a + b

36

In [13]:
a-b

18

In [14]:
a*b

243

In [15]:
print(a / b)
print(a // b) # a를 b로 나누었을 때 몫
print(a % b) # 나머지

3.0
3
0

### 실수형

In [16]:
a = -3.619
print(type(a))

<class 'float'>

### 숫자 연산하기

In [17]:
a = 27
b = 9
a + b

36

In [18]:
a - b

18

In [19]:
a * b

243

In [20]:
print(a / b)
print(a // b)
print(a % b)

3.0
3
0

In [21]:
4 ** 3

64

In [22]:
3 + 2 ** 3 / (5-3)

7.0

In [23]:
abs(-3)

3

In [24]:
round(3.14159, 3)

3.142

In [25]:
a = 0o467 # 8진수 표현
b = 0x7fc # 16진수 표현
print(a)
print(b)

311
2044

### 문자열

In [26]:
a = "Hello Python!"
a

'Hello Python!'

In [27]:
type(a)

str

### 문자열 안에 따옴표 포함시키기

In [28]:
sen = "It's mine."
print(sen)

It's mine.

In [31]:
sen2 = '"It is impossible." He says.'
print(sen2)

"It is impossible." He says.

In [34]:
sen3 = 'It\'s mine.' # 작은따옴표를 문자열 앞뒤와 안에 사용
sen4 = "\"It is impossible.\" He says." # 큰따옴표를 문자열 앞뒤와 안에 사용
print(sen3)
print(sen4)

It's mine.
"It is impossible." He says.

In [35]:
a = """Hello!
Python!"""
print(a)

Hello!
Python!

In [36]:
a = "Hello! \nPython!"
print(a)

Hello!
Python!

### 문자열 연산하기

In [37]:
a = "Hello! "
b = "Python!"
print(a + b)

Hello! Python!

In [38]:
a * 3

'Hello! Hello! Hello! '

In [39]:
a = "26"
b = "3"
a + b

'263'

In [40]:
a *3

'262626'

### 문자열 인덱싱과 슬라이싱

In [41]:
a = "hello! Python!"

In [42]:
a[-1]

'!'

In [43]:
a[3]

'l'

In [44]:
a[3:9]

'lo! Py'

In [45]:
a[3:-4]

'lo! Pyt'

In [46]:
a[3:-6]

'lo! P'

In [49]:
a[:8]

'hello! P'

In [50]:
a[3:]

'lo! Python!'

In [51]:
a="Life"
b = a[0:2] + "v" + a[-1]
print(b)

Live

### 문자열 포맷팅

In [57]:
# %c 'chracter'의 첫 글자. 문자 1개를 의미. 입력값 = 문자 1개, 0또는 양의 정수
# %d 'digit'의 첫 글자. 정수형 숫자를 의미. 입력값 = 음의 정수, 0, 양의 정수
# %f 'floating point'의 첫 글자. 실수형 숫자를 의미. 입력값 = 실수(정수 포함)
# %s 'string'의 첫 글자. 문자열을 의미. 입력값 = 문자열, 실수, 정수

In [53]:
"I eat %s bananas." %3

'I eat 3 bananas.'

In [54]:
"I eat %s bananas." %"three"

'I eat three bananas.'

In [55]:
color = "blue"
"I like %s color." %color

'I like blue color.'

In [59]:
ar = "%15s" %"hello"
ar

'          hello'

In [2]:
ar = "%-15s" %"hello"
ar

'hello          '

In [3]:
ar = "John%10s" %"hello"
ar

'John     hello'

In [4]:
a = "%4d" %34
print(a)

  34

In [5]:
b = "%10.2f" %5.6182359
print(b)

      5.62

### 문자열 함수

In [6]:
test = "I need {} eggs.".format(5)
print(test)

I need 5 eggs.

In [7]:
color = "white"
num = 5
test = "I like {} egg. I need {} eggs.".format(color, num)
print(test)

I like white egg. I need 5 eggs.

In [8]:
a = "{:.2f}".format(5.6182359)
print(a)

5.62

In [10]:
x = 5.6182359
a = "{:15.2f}".format(x)
#"{:공백수.소숫점 갯수f}".format(x)
print(a)

           5.62

In [11]:
a = "I eat banana."
a.count("n")

2

In [12]:
a = "I eat banana."
print(a.find("n"))
print(a.index("n"))

8
8

In [14]:
# 두 함수의 차이는 없는 문자열을 찾았을 때 find는 -1을 반환하고 index는 오류가 남.
print(a.find("d")) 
print(a.index("d"))

-1

ValueError: substring not found

In [15]:
b = ",".join("fruit")
print(b)

f,r,u,i,t

In [16]:
a = "Hello"
print(a.upper())
print(a.lower())

HELLO
hello

In [17]:
a = "    Hello    "
print(a.strip()) ; print(a.lstrip()) ; print(a.rstrip())

Hello
Hello
    Hello

In [18]:
a = "I eat banana."
a.split()

['I', 'eat', 'banana.']

In [20]:
a = "a:b:c:d:e"
a.split(":")

['a', 'b', 'c', 'd', 'e']

In [45]:
# a.replace(찾을 값, 바꿀 값, 바꿀 횟수)
a = "I eat banana."
print(a.replace("a", "b", 1))
print(a.replace("a", "b"))

I ebt banana.
I ebt bbnbnb.

### 불

In [24]:
print(1 == 1)
print(10 < 8)

True
False

In [25]:
print(bool("python"))
print(bool(None))

True
False

## Section 2.3 복합 자료형

### 리스트

In [26]:
a = []
b = [1,2,3,4,5]
c = ["I", "like", "python"]
d = [1, 2, "Python"]
e = [1, 2, ["python", "C", "Java"]]

In [27]:
a = [3, 7, 9]
b = [4, 6, 10]
print(a+b)
print(a*3)

[3, 7, 9, 4, 6, 10]
[3, 7, 9, 3, 7, 9, 3, 7, 9]

In [28]:
test = [75, 69, 84, 89]
food = ["milk", "juice", "rice", "soup", "cookie"]
print(test[2])
print(food[3:5])

84
['soup', 'cookie']

In [29]:
a = [1, 2, ["Python", "C", "Java"]]
print(a[2])
print(a[2][:2])

['Python', 'C', 'Java']
['Python', 'C']

In [30]:
a = [1, 3, 5, 7, 6, 2, 4]
a[3] = 8
print(a)

[1, 3, 5, 8, 6, 2, 4]

In [31]:
a = [1, 3, 5, 7, 6, 2, 4]
del a[3]
print(a)

[1, 3, 5, 6, 2, 4]

In [32]:
a = [1, 2, 3, 4]
a.append(3)
print(a)

[1, 2, 3, 4, 3]

In [33]:
a.append([3, 5, 9])
print(a)

[1, 2, 3, 4, 3, [3, 5, 9]]

In [34]:
a = [1, 2, 3, 4]
a.insert(0, 7)
print(a)

[7, 1, 2, 3, 4]

In [35]:
a = [1, 2, 3, 4, 5, 4, 3, 2, 1]
a.remove(4)
print(a)

[1, 2, 3, 5, 4, 3, 2, 1]

In [36]:
a = [1, 3, 5, 7, 6, 2, 4]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [37]:
a = [1, 3, 5, 7, 6, 2, 4]
a.reverse()
print(a)

[4, 2, 6, 7, 5, 3, 1]

In [38]:
a = [1, 3, 5, 7, 6, 2, 4]
print(a.pop())
print(a)

4
[1, 3, 5, 7, 6, 2]

In [39]:
a = [1, 3, 5, 7, 6, 2, 4]
print(a.pop(3))
print(a)

7
[1, 3, 5, 6, 2, 4]

In [40]:
a = [1, 3, 5, 7, 6, 2, 4]
a.extend([3, 5, 7])
print(a)

[1, 3, 5, 7, 6, 2, 4, 3, 5, 7]

In [46]:
a = [1, 3, 5, 7, 6, 2, 4]
b = [3, 5, 7]
a.extend(b)
print(a)

[1, 3, 5, 7, 6, 2, 4, 3, 5, 7]

### 튜플

In [42]:
tp1 = ()
tp2 = (1,)
tp3 = (1,2,3)
tp4 = 1,2,3
tp5 = ("a", "b", ("ab", "cd"))

In [43]:
tp1 = (1, 2, 3, "a", "b", "c")
tp2 = (4, 5, 6)
print(tp1 + tp2)

(1, 2, 3, 'a', 'b', 'c', 4, 5, 6)

In [44]:
tp = (1, 2, ("ab", "cd", "ef"), 3, "a", "b", "c")
print(tp[2])
print(tp[2][:2])

('ab', 'cd', 'ef')
('ab', 'cd')

### 딕셔너리

In [76]:
dict1 = {"name" : "Lee", "age" : 29, "birth" : "0320"}
dict2 = {1 : "ab"}
dict3 = {"test" : [1, 3, 5, 7]}

In [77]:
dict = {"a" : [1, 2], "b" : [3, 4], "c" : [5, 6]}
print(dict['a'])

[1, 2]

In [78]:
dict = {}

In [79]:
dict = {"a" : [1, 2]}
dict["b"] = [3, 4]
print(dict)

{'a': [1, 2], 'b': [3, 4]}

In [80]:
dict = {"a" : [1, 2], "b" : [3, 4], "c" : [5, 6]}
del dict["c"]
print(dict)

{'a': [1, 2], 'b': [3, 4]}

In [82]:
list1 = [["a", 2], ["b", 4], ["c", 6]]
dict(list1)
# dict라는 변수를 위에서 실행해서 생기는 오류

TypeError: 'dict' object is not callable