# Chapter2 자료형
## 2.1 변수와 상수

In [7]:
print(20)
print('A')
print("선생님")

20
A
선생님

In [8]:
x=3
y=x+2
print(y)

5

In [9]:
s = "선생님"
s = s + ", " + "안녕하세요!"
print(s)

선생님, 안녕하세요!

## 2.2 기본 자료형

### 숫자

In [10]:
#정수형
a = 359
print(type(a))

<class 'int'>

In [11]:
#실수형
a = -3.619
print(type(a))

<class 'float'>

In [12]:
#숫자 연산하기
a = 27
b = 9
a + b

36

In [13]:
a-b

18

In [14]:
a*b

243

In [15]:
print(a / b)
print(a // b) # a를 b로 나누었을 때 몫
print(a % b) # 나머지

3.0
3
0

### 실수형

In [16]:
a = -3.619
print(type(a))

<class 'float'>

### 숫자 연산하기

In [17]:
a = 27
b = 9
a + b

36

In [18]:
a - b

18

In [19]:
a * b

243

In [20]:
print(a / b)
print(a // b)
print(a % b)

3.0
3
0

In [21]:
4 ** 3

64

In [22]:
3 + 2 ** 3 / (5-3)

7.0

In [23]:
abs(-3)

3

In [24]:
round(3.14159, 3)

3.142

In [25]:
a = 0o467 # 8진수 표현
b = 0x7fc # 16진수 표현
print(a)
print(b)

311
2044

### 문자열

In [26]:
a = "Hello Python!"
a

'Hello Python!'

In [27]:
type(a)

str

### 문자열 안에 따옴표 포함시키기

In [28]:
sen = "It's mine."
print(sen)

It's mine.

In [31]:
sen2 = '"It is impossible." He says.'
print(sen2)

"It is impossible." He says.

In [34]:
sen3 = 'It\'s mine.' # 작은따옴표를 문자열 앞뒤와 안에 사용
sen4 = "\"It is impossible.\" He says." # 큰따옴표를 문자열 앞뒤와 안에 사용
print(sen3)
print(sen4)

It's mine.
"It is impossible." He says.

In [35]:
a = """Hello!
Python!"""
print(a)

Hello!
Python!

In [36]:
a = "Hello! \nPython!"
print(a)

Hello!
Python!

### 문자열 연산하기

In [37]:
a = "Hello! "
b = "Python!"
print(a + b)

Hello! Python!

In [38]:
a * 3

'Hello! Hello! Hello! '

In [39]:
a = "26"
b = "3"
a + b

'263'

In [40]:
a *3

'262626'

### 문자열 인덱싱과 슬라이싱

In [41]:
a = "hello! Python!"

In [42]:
a[-1]

'!'

In [43]:
a[3]

'l'

In [44]:
a[3:9]

'lo! Py'

In [45]:
a[3:-4]

'lo! Pyt'

In [46]:
a[3:-6]

'lo! P'

In [49]:
a[:8]

'hello! P'

In [50]:
a[3:]

'lo! Python!'

In [51]:
a="Life"
b = a[0:2] + "v" + a[-1]
print(b)

Live

### 문자열 포맷팅

In [57]:
# %c 'chracter'의 첫 글자. 문자 1개를 의미. 입력값 = 문자 1개, 0또는 양의 정수
# %d 'digit'의 첫 글자. 정수형 숫자를 의미. 입력값 = 음의 정수, 0, 양의 정수
# %f 'floating point'의 첫 글자. 실수형 숫자를 의미. 입력값 = 실수(정수 포함)
# %s 'string'의 첫 글자. 문자열을 의미. 입력값 = 문자열, 실수, 정수

In [53]:
"I eat %s bananas." %3

'I eat 3 bananas.'

In [54]:
"I eat %s bananas." %"three"

'I eat three bananas.'

In [55]:
color = "blue"
"I like %s color." %color

'I like blue color.'

In [59]:
ar = "%15s" %"hello"
ar

'          hello'